<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Index</title>
</head>
<body>
    <%- include('../partials/userview.ejs') %>
    <h1>Collection of all the birds in the index</h1>
    <a href="/birdapp/newbird">Add Bird to Index</a>
    <div class="birdsBox">
        <% birds.forEach((bird) => { %>
            <div class="birdCard">
                <h2><%= bird.name %></h2>
                <a href="/birdapp/birds/<%= bird._id%>/edit">Edit <%= bird.name%></a>
                <p>Continent(s): <%= bird.continent.join(", ") %></p>
                <p>Habitat(s): <%= bird.habitat.join(", ") %></p>
                <p>Diet: <%= bird.diet.join(", ") %></p>
                <p>Color: <%= bird.color%></p> <!--FUNCTION MAKE A BOX THAT DISPLAYS THE HEXADECIMAL COLOR, NOT THE STRING-->
                <p>Wingspan: <%= bird.wingspan %>cm</p>
                <% if (bird.isNocturnal === true) { %>
                    <p>Nocturnal? Yes</p>
                <% } else { %>
                    <p>Nocturnal? No</p>
                <% } %>
                <form action="/birdapp/birds/<%=bird._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete <%=bird.name%> from index</button>
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>